# ----------------------------------------------------------------------
# Seyoung Gunjae WordPress Project .gitignore
# ----------------------------------------------------------------------

# Ignore WordPress root core files and folders
/wp-admin/
/wp-includes/
/wp-config.php
/wp-config-sample.php
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/index.php
/.htaccess
/license.txt
/readme.html

# Ignore everything in wp-content except themes and plugins
/wp-content/*
!/wp-content/themes/
!/wp-content/plugins/

# Ignore all themes except the custom child theme
/wp-content/themes/*
!/wp-content/themes/seyoung-theme/

# Ignore all plugins except the custom plugins
/wp-content/plugins/*
!/wp-content/plugins/seyoung-*/
!/wp-content/plugins/seyoung-**/
